@model IssueManagementSystem.ApplicationService.Web.ViewModels.Home.LoginViewModel

@{
    ViewBag.Title = "ログイン";
}

@section styles{
    <style>
        .jumbotron-login {
            margin-top: 100px;
        }
    </style>
}

<div class="jumbotron jumbotron-login">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">this is test application for DDD and Onion Arcitecher.</p>
    <hr class="my-4">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.UserId)
            @Html.EditorFor(m => m.UserId, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <button class="btn btn-primary btn-lg">ログイン</button>
    }
</div>

